/* estils.movils.css */
/* Estils generics per a dispositius mòbils */
@media (max-width: 842px) {
	.intro h1 {
		font-size: 2rem;
	}

	.intro h2 {
		font-size: 1.5rem;
	}

	.gallery-container img {
		width: 100%;
	}

	.cta-button {
		font-size: 1rem;
		padding: 0.8rem 1.5rem;
	}

	/* Footer-movil visible només en dispositius mòbils */
	.footer-movil {
		display: block;
		background-color: #202929;
		padding: 1rem;
		text-align: center;
		position: sticky;
		bottom: 0;
		z-index: 1000;
	}

	.footer-movil .footer-socials-movil {
		display: flex;
		justify-content: center;
		gap: 1rem;
	}

	.footer-movil .social-btn img {
		width: 40px;
		height: 40px;
	}
}